<nav class="navbar navbar-light bg-info navbar-fixed-top">
  <a class="navbar-brand" routerLinkActive="active" routerLink="/main" style="font-size: 22px">RecipeBook</a>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav" style="font-size: 16px"> <!-- evt en anden font -->
        <li><a   class="nav-item nav-link active" routerLink="/add" routerLinkActive="active">Add</a></li>
        <li><a class="nav-item nav-link active" routerLink="/edit" routerLinkActive="active">Edit & Delete</a></li>
        <li class="navbar-right"><a class="nav-item nav-link navbar-right" href="https://gmail.com" target="_blank">
        </a>
        </li>
    </ul>
  </div>
</nav>




          <!-- toggle down

          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>


          <ul class="nav navbar navbar-right">
            <a class="dropdown">
              <ul class="dropdown-menu">
                <li></li>
              </ul>
            </a>
          </ul>



          <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
    </ul>
  </div>



          -->





<!--<nav class="navbar navbar-default" style="background: #2C7798">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLinkActive="active" routerLink="home" style="font-size: 22px; color: #e5e5e5" >Feedback</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" id="font" style="font-size: 16px; color: white"> <!-- evt en anden font
        <li><a class="nav-item nav-link active" routerLink="/create" routerLinkActive="active">Create Questions</a></li>
        <li><a class="nav-item nav-link active" routerLink="/stat" routerLinkActive="active">Statistics</a></li>
        <li><a class="nav-item nav-link active" routerLink="/invite" routerLinkActive="active">Send invitations</a></li>
        <li><a class="nav-item nav-link active" routerLink="/about" routerLinkActive="active">About</a></li>
      </ul>
      <ul class="nav navbar navbar-right">
        <li class="dropdown">
          <ul class="dropdown-menu">
            <li></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->




<!--
<nav class="navbar navbar-light mb-5" style="background: lightskyblue">
  <a class="navbar-brand" routerLinkActive="active" routerLink="home">Feedback</a>
  <div class="navbar-expand mr-auto strong">
    <div class="navbar-nav">
      <li><a class="nav-item nav-link active" routerLink="/create" routerLinkActive="active">Create Questions</a></li>
      <li><a class="nav-item nav-link active" routerLink="/stat" routerLinkActive="active">Statistics</a></li>
      <li><a class="nav-item nav-link active" routerLink="/invite" routerLinkActive="active">Send invitations</a></li>
      <li><a class="nav-item nav-link active" routerLink="/about" routerLinkActive="active">About</a></li>
      <a class="nav-item nav-link" href="https://gmail.com" target="_blank">
        <i class="far fa-envelope"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/josephine-mellin/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle data-toggle">User<span class="-caret-down"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Log out</a></li>
      </ul>
    </li>
  </div>
</nav> -->

