<app-header></app-header>

<br>
<br>
<body>
<h2>My Recipies</h2>
<form>
  <fieldset>
    <legend>Herb Butter Chicken Thighs</legend>
    <img src="assets/herbchicken.jpg" alt="Herb Butter Chicken Thighs" width="200">
    <br>
    <h3>Ingredients:</h3>
    <label>Chicken Thighs:  </label>
    <label>6</label>
    <label>peices</label>
    <br>
    <label>Salt: </label>
    <label>1</label>
    <label>teaspoon</label>
    <br>
    <label>Pepper: </label>
    <label>1</label>
    <label>teaspoon</label>
    <br>
    <label>Garlic: </label>
    <label>2</label>
    <label>cloves</label>
    <br>
    <label>Italian seasoning: </label>
    <label>1/2</label>
    <label>teblespoon</label>
    <br>
    <label>Chicken broth: </label>
    <label>1/2</label>
    <label>cup</label>
    <br>
    <label>Butter: </label>
    <label>1</label>
    <label>tablespoon</label>
    <br>
    <label>Chopped parsley: </label>
    <label>1</label>
    <label>handful</label>


    <p>
    <h3>Directions:</h3>
    <p>
    <ol>
      <li> Season the chicken thighs with a pinch of salt and pepper on each side.</li>
      <li> Heat a large skillet over medium. Once hot, add the olive oil and swirl to coat the surface of the skillet. Add the chicken thighs and cook for 5-7 minutes on each side, or until they are golden brown and cooked through. Remove the thighs to a clean plate. There should be plenty of browned bits left on the bottom of the skillet.</li>
      <li> Add the minced garlic and Italian seasoning blend to the skillet. Saute the garlic and herbs in the leftover oil in the skillet. Saute for 1-2 minutes, or just until the garlic softens a bit and becomes very fragrant.</li>
      <li> Pour in the chicken broth and stir, dissolving all the browned bits off the bottom of the skillet. Let the broth simmer (still over medium heat) for about 5 minutes, or until it has reduced by half. </li>
      <li> Once the broth has reduced, add the butter and stir until it has melted into the sauce. Add the chicken pieces back to the skillet with the sauce and spoon the sauce over each piece. Garnish with a sprinkle of chopped parsley, if desired. Serve while hot. </li>
    </ol>


    <button class="dropbtn"> Delete</button>
    <form action="addRecipe.html"></form>
    <form action="edit.html">
      <input type="submit" value="Edit" />
    </form>
  </fieldset>
</form>
</body>




