<app-header></app-header>
<div *ngIf="isDataLoaded">


<br>
<br>

<h2>My Recipies   {{RRname}} for {{persons}} </h2>
<form>

    <img [src]="image" alt="{{RRname}}" width="200">
    <br>
    <h3>Ingredients: {{RIquantity}}</h3>


    <!-- some code here - see full code at the end of this tutorial -->
    <section *ngFor="let address of ingrediens; let i = index;">

      <!-- input fields inside the *ngFor -->
      <label>Ingredient Name</label>
      <input type="text" [(ngModel)]="address.RecipeName"
             name="address_{{i}}"/>
      <label>Quantity</label>
      <input type="text" [(ngModel)]="address.RecipeQuanti"
             name="street_{{i}}"/>
  <!--    <label>Units</label>
      <input type="text" [(ngModel)]="address.RecipeUnit"
             name="city_{{i}}"/>
             -->
      <label>Units</label>
      <select [(ngModel)]="address.kgOrBla" name="country_{{i}}" placeholder="Kg">
        <option value="Kg">Kg</option>
        <option value="Pounds">Pounds</option>
        <option value="Gallons">Gallons</option>
        <option value="Ml">Ml</option>
        <option value="Liters">Liters</option>
        <option value="Gram">Gram</option>
        <option value="Unit">Unit</option>
        <option value="Cup">Cup</option>
      </select>


    </section>




    <p>
    <h3>Directions:</h3>
    <p>

      <li> {{rIdata}}</li>




  <h2>Timer: {{counter}}</h2>
  <input type="submit" value="Start" (click)="startTimer()">

  <input type="submit" value="clear" (click)="clearTimer()">
</form>
<br>
<br>
  <label> Edit: </label>
  &nbsp;
  <input  type="image" src="assets/edit.png" width="40px" height="40px" value="Edit" (click)="edit()" />
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <label> Delete: </label>
  &nbsp;
    <input  type="image" src="assets/thash.png" width="40px" height="40px" value="Delete" (click)="delete()"/>


  <br>
  <br>


</div>
